<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h1>Videos</h1>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<!--<mat-list [@listAnimation]="prepareListState()" [@.disabled]="animationsDisabled">-->
		<mat-list>
			<mat-list-item *ngFor="let video of videos; trackBy: trackVideo"
			               class="record">
				<h3 mat-line>{{video.name}}</h3>
				<p mat-line>{{video.brewery}}</p>
				<p mat-line>Rating {{video.rating}}</p>
				<!--<button *ngIf="!readonly" mat-icon-button (click)="deleted.emit(video);$event.stopImmediatePropagation();">-->
				<!--<mat-icon>close</mat-icon>-->
				<!--</button>-->
			</mat-list-item>
			<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
				<!--- Note that these columns can be defined in any order.
						The actual rendered columns are set as a property on the row definition" -->
				
				<!-- Position Column -->
				<ng-container matColumnDef="position">
					<mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
				</ng-container>
				
				<!-- Name Column -->
				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
				</ng-container>
				
				<!-- Weight Column -->
				<ng-container matColumnDef="weight">
					<mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
				</ng-container>
				
				<!-- Symbol Column -->
				<ng-container matColumnDef="symbol">
					<mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
				</ng-container>
				
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</mat-list>
	</mat-card-content>
</mat-card>