<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h1>Videos</h1>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<!--<mat-list [@listAnimation]="prepareListState()" [@.disabled]="animationsDisabled">-->
		<button mat-raised-button color="primary" type="button" (click)="onAddVideo($event)">Add Video</button>
		<mat-list>
			<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
				<!--- Note that these columns can be defined in any order.
						The actual rendered columns are set as a property on the row definition" -->
				
				<!-- Position Column -->
				<ng-container matColumnDef="video_id">
					<mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.video_id}} </mat-cell>
				</ng-container>
				
				<!-- Name Column -->
				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
				</ng-container>
				
				<!-- Weight Column -->
				<ng-container matColumnDef="title">
					<mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
				</ng-container>
				
				<!-- Symbol Column -->
				<ng-container matColumnDef="description">
					<mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="tags">
					<mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.tags}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="total_views">
					<mat-header-cell *matHeaderCellDef> Total Views </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.total_views}} </mat-cell>
				</ng-container>
				
				<!-- Name Column -->
				<ng-container matColumnDef="likes">
					<mat-header-cell *matHeaderCellDef> Likes </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.likes}} </mat-cell>
				</ng-container>
				
				<!-- Weight Column -->
				<ng-container matColumnDef="dislikes">
					<mat-header-cell *matHeaderCellDef> Dislikes </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.dislikes}} </mat-cell>
				</ng-container>
				
				<!-- Symbol Column -->
				<ng-container matColumnDef="current_viewers">
					<mat-header-cell *matHeaderCellDef> Current Viewers </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="joining_viewers">
					<mat-header-cell *matHeaderCellDef> Joining Viewers </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.joining_viewers}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="leaving_viewers">
					<mat-header-cell *matHeaderCellDef> Leaving Viewers </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.leaving_viewers}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="control">
				  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
				  <mat-cell *matCellDef="let element"> 
					<span class="float-right">
					  <button mat-icon-button color="primary" (click)="showDetails(element)" aria-label="icon-button with a list icon">
						<mat-icon>list</mat-icon>
					  </button>
					  <button mat-icon-button (click)="deleteVideo(element)" color="warn" aria-label="icon-button with a delete icon">
						<mat-icon>delete</mat-icon>
					  </button>
					</span>
				  </mat-cell>
				</ng-container>
				
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</mat-list>
	</mat-card-content>
</mat-card>